
.header {
    background-color: #ff69b4;
    padding: 20px;
    text-align: center;
    height: 100px;
    width: 100%;
}

/* 表のレイアウト */

.nine-table {
    border-collapse: collapse;
    margin: 40px auto;
    width: 60vw;
    max-width: 600px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
.nine-table td {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.1rem;
}
.karamu{
    background-color: #c0c0c0;
    color: #000;
    border: 2px solid #000;
}
.sityu{
    border: 2px solid #000;
}

/* 干支 */
.group-5{
    border-left: 2px solid #000;
    border-bottom:2px solid #000;
    border-right: 1px solid #aaa;
}
.group-5-2{
    border-bottom:2px solid #000;
    border-top:1px solid #aaa;
}
.group-6{
    border-left: 2px solid #000;
    border-bottom:2px solid #000;
    border-right: 1px solid #aaa;
}
.group-6-2{
    border-bottom:2px solid #000;
    border-top:1px solid #aaa;
}
.group-7{
    border-left: 2px solid #000;
    border-bottom:2px solid #000;  
    border-right: 1px solid #aaa;
}
.group-7-2{
    border-bottom:2px solid #000;
    border-top:1px solid #aaa;
}
.group-8{
    border-left: 2px solid #000;
    border-bottom:2px solid #000;
    border-right: 1px solid #aaa;
}
.group-8-2{
    border-bottom:2px solid #000;
    border-top:1px solid #aaa;
}

/* 蔵干 */
.C1{
    border-left:#000 2px solid;
    border-bottom:#000 2px solid;
    border-right:#aaa 1px solid;
}
.C2{
    border-bottom:#000 2px solid;
}
.C3{
    border-left:#000 2px solid;
    border-bottom:#000 2px solid;
    border-right:#aaa 1px solid;
}
.C4{
    border-bottom:#000 2px solid;
}
.C5{
    border-left:#000 2px solid;
    border-bottom:#000 2px solid;
    border-right:#aaa 1px solid;
}
.C6{
    border-bottom:#000 2px solid;
}
.C7{
    border-left:#000 2px solid;
    border-bottom:#000 2px solid;
    border-right:#aaa 1px solid;
}
.C8{
    border-bottom:#000 2px solid;
}

/* 天星 */
.D1{
    border-left:#000 2px solid;
    border-bottom:#000 2px solid;
    border-right:#fff 2px solid;
}
.D2{
    border-bottom:#000 2px solid;
    border-right:#000 2px solid;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.D5{
    border-left:#000 2px solid;
    border-bottom:#000 2px solid;
    border-right:#fff 2px solid;
}
.D6{
    border-bottom:#000 2px solid;
    border-right:#000 2px solid;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.D7{
    border-left:#000 2px solid;
    border-bottom:#000 2px solid;
    border-right:#fff 2px solid;
}
.D8{
    border-bottom:#000 2px solid;
    border-right:#000 2px solid;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

/* 地星 */
.E1{
    border-left:#000 2px solid;
    border-bottom:#000 2px solid;
    border-right:#fff 2px solid;
}
.E2{
    border-bottom:#000 2px solid;
    border-right:#000 2px solid;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.E3{
    border-left:#000 2px solid;
    border-bottom:#000 2px solid;
    border-right:#fff 2px solid;
    border-top:#000 2px solid;
}
.E4{
    border-bottom:#000 2px solid;
    border-right:#000 2px solid;
    border-top:#000 2px solid;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.E5{
    border-left:#000 2px solid;
    border-bottom:#000 2px solid;
    border-right:#fff 2px solid;
}
.E6{
    border-bottom:#000 2px solid;
    border-right:#000 2px solid;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.E7{
    border-left:#000 2px solid;
    border-bottom:#000 2px solid;
    border-right:#fff 2px solid;
}
.E8{
    border-bottom:#000 2px solid;
    border-right:#000 2px solid;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

/* 十二運星 */
.F1{
    border: #000 2px solid;
}
.F3{
    border: #000 2px solid;
}
.F5{
    border: #000 2px solid;
}
.F7{
    border: #000 2px solid;
}
/* 特殊星 */
.group-G{
    height:200px;
}
.G1{
    border: #000 2px solid;
}
.G3{
    border: #000 2px solid;
}
.G5{
    border: #000 2px solid;
}
.G7{
    border: #000 2px solid;
}

/* 縦6×横12の表 */
.six-twelve-table {
    border-collapse: collapse;
    margin: 40px auto;
    width: 90vw;
    max-width: 900px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    border:#000 2px solid;
}
.six-twelve-table td {
    border: 1.5px solid #000;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.1rem;
}
.group-AA{
    background-color: #c0c0c0;
}
.AA2{
    border-left:#000 3px solid !important;
}
.AA5{
    border-left:#000 3px solid !important;
}
.AA8{
    border-left:#000 3px solid !important;
}

.AB-12{
    background-color: #c0c0c0;
}
.AC-12{
    background-color: #c0c0c0;
}
.AD-12{
    background-color: #c0c0c0;
}
.AE-12{
    background-color: #c0c0c0;
}
.AF-12{
    background-color: #c0c0c0;
}
.AB-1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.AB-2 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.AB-3 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-left:#000 3px solid !important;
}
.AB-4 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.AB-5 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.AB-6 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-left:#000 3px solid !important;
}
.AB-7 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.AB-8 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.AB-9 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-left:#000 3px solid !important;
}
.AB-10 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.AB-11 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.AB{
    height:90px;
}